.container-addCart {
    padding: 5px;
    width: 100%;
    height: 95%;
    border: 1px solid rgb(172, 171, 171);
    background: rgb(219, 217, 217);
  }

  .container-addCart button {
    border: 1px solid rgb(32, 124, 55);
  }
  .container-addCart input {
    width: 90%;
    height: 2rem;
  }

  .btn-1{
    color: white;
    height: 2rem;
    width: 26px;
    background: rgb(16, 134, 45)
  }
  .btn-2{
    color: white;
    background: rgb(63, 151, 85);
    width: 8rem;
    height:3rem;
  }

  .addCart__total{
    padding-top: 2rem;
    padding-left: 10rem;
  }
  
  .addCart__total p{
    padding-left: 5rem;
  }